[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Type=oneshot
ExecStart=/usr/local/bin/slylocker.sh

[Install]
WantedBy=sleep.target
