[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
Type=forking
ExecStart=/usr/local/bin/slylocker.sh
ExecStartPost=/usr/bin/sleep 0.52

[Install]
WantedBy=sleep.target
