[Unit]
Description=Kill Xwayland

[Service]
ExecStart=/bin/bash -c 'while sleep 65; do /usr/bin/pkill -ex -HUP Xwayland; done'

[Install]
WantedBy=default.target
